<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Hello World!</a>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="navbar-brand" style="font-size: .8rem;" href="https://www.section.io/docs/guides/projects/set-edge-locations/" target="_blank">Location optimizer docs</a>
    </li>
  </ul>
</nav>